.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: relative;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  margin-top: 100px;
}

.loader-logo {
  width: 150px;
}

.loader-title-main {
  font-size: 60px;
}

.loader-title-sub {
  font-size: 35px;
}

.loader-section {
  padding: 20px;
  margin-bottom: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.loader-title {
  border: 1px solid var(--color-blue-border);
  border-radius: 30px;
  padding: 2px 15px;
  color: #fff;
  background: #577dae;
  background: -webkit-radial-gradient(circle, #577dae 0%, #334052 100%);
  background: radial-gradient(circle, #577dae 0%, #334052 100%);
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  bottom: 40px;
}

.loader-bar-container {
  padding: 1px;
  margin-top: 200px;
  width: 100%;
  height: 15px;
  border-radius: 200px;
  border: 1px solid var(--color-blue-border);
  background-color: var(--color-skill-bar-bg);
}

.loader-progress {
  width: 15%;
  height: 100%;
  border-radius: 200px;
  background-color: var(--color-progress-bar);
}
